.hamburger {
  // display: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  float: right;
  cursor: pointer;

  .top-bar,
  .bottom-bar,
  .middle-bar {
    display: block;
    background-color: #333;
    height: 4px;
    width: 30px;
    margin-top: 5px;
    border-radius: 2.5px;
    transition: all 1s;
  }

  .middle-bar {
    width: 23px;
  }

  &.open {
    .top-bar {
      position: absolute;
      background-color: #e24747;
      transform: rotate(45deg);
      top: 25%;
    }

    .bottom-bar {
      position: absolute;
      background-color: #e24747;
      transform: rotate(-45deg);
      top: 25%;
    }

    .middle-bar {
      display: none;
    }
  }
}
