@import "header_common";
@import "bubbles";

/*
*
*   header 2
*/

section.header-2 {
  & > img {
    margin-top: 8rem;
    height: 300px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

header.header-2 {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1000;

  figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    display: flex;
    background-color: $primary-color;
    color: white;
    padding: 2rem;
    padding-top: 1.25rem;

    & > .logo {
      width: 5em;
      height: 5rem;
    }

    & > h1 {
      font-family: "Roboto", sans-serif;
      padding: 1.25rem 1rem 1.25rem 0.75rem;
      white-space: nowrap;
      text-align: right;

      span {
        font-weight: 200;
      }
    }
  }

  nav {
    position: relative;
    top: 8rem;
    display: inline-block;
    color: black;
    background-color: white;
    width: 100%; // likely to change in full screen
    height: 3rem;
    // width: calc(100vw - 23rem);
    overflow: visible;

    .hamburger {
      position: relative;
      top: 0.5rem;
      margin-right: 2rem;
    }

    // .hamburger {
    //   position: relative;
    //   margin-top: 0.5rem;
    //   margin-right: 0.5rem;

    //   width: 30px;
    //   height: 30px;

    //   float: right;
    //   color: black;
    //   background-color: transparent;
    //   cursor: pointer;

    //   .top-bar,
    //   .middle-bar,
    //   .bottom-bar {
    //     position: absolute;
    //     height: 4px;
    //     width: 30px;
    //     right: 1rem;
    //     border-radius: 2.5px;
    //     background-color: black;
    //   }

    //   .top-bar {
    //     top: 4px;
    //   }

    //   .middle-bar {
    //     top: 12px;
    //   }

    //   .bottom-bar {
    //     top: 20px;
    //   }
    // }

    .menus {
      display: none;
      position: relative;
      z-index: 1000;

      .main-menu {
        display: flex;
        position: relative;
        top: 45px;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;

        .right-arrow {
          display: inline-block;
          margin-left: 0.25rem;
        }

        .down-arrow {
          display: none;
          margin-left: 0.25rem;
        }

        & > li {
          position: relative;

          .submenu {
            display: none;
          }
        }
        & li {
          height: 2rem;
        }

        & > li:hover .submenu {
          display: block !important;
        }

        .submenu:hover {
          display: block !important;
        }
      }

      .social-menu {
        display: flex;
        position: relative;
        top: 20px;
        margin-right: 1rem;
        align-items: center;
        float: right;

        li + li {
          margin-left: 1rem;
        }
      }
    }

    .menus.shown {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      height: calc(300px + 3rem);
      width: 200px;
      background-color: rgba(28, 21, 15, 0.95);
      color: white;
      z-index: 1000;

      .main-menu {
        position: relative;
        top: 3rem;
        left: 0;
        width: 100%;
        height: 50%;
        flex-direction: column;

        li > a {
          color: white;
        }
      }

      .social-menu {
        position: relative;
        top: 7rem;
        left: 0;

        > li a {
          color: white;
        }
      }

      .social-menu,
      .main-menu {
        & > li:hover > a,
        & > li:hover {
          color: goldenrod;
        }
      }

      li {
        cursor: pointer;
      }

      .submenu {
        & > li a {
          color: black;
        }

        & li:hover a,
        & li:hover {
          color: goldenrod;
        }
      }
    }
  }
}
@media screen and (max-width: 799px) {
  .header-2 {
    @include bubbles("left", lightgrey, goldenrod, black);
  }
}

@media screen and (min-width: 800px) {
  .header-2 {
    @include bubbles("up", lightgrey, goldenrod, black);

    // bubbles prerequisites
    .main-menu > li {
      position: relative !important;
      height: 2rem;
    }

    .submenu {
      & > li + li {
        margin-top: 1rem !important;
      }
    }

    header {
      figure {
        padding-left: 1.5rem;
        width: 20rem;
      }

      nav {
        height: 0;
        padding-right: 0.5rem;

        .menus {
          display: flex;
          justify-content: space-between;

          top: -10.5rem;
          left: 20rem;

          width: calc(100% - 18rem);
          height: 8rem;
          flex-direction: row;

          .main-menu {
            svg {
              position: relative;
              top: 2px;

              &.right-arrow {
                display: inline-block !important;
              }

              &.down-arrow {
                display: none !important;
              }
            }
            & > li:hover > a {
              color: goldenrod;
            }

            .submenu {
              li:hover > a {
                color: goldenrod;
              }

              a {
                color: black;
              }
            }

            & > li:hover {
              color: goldenrod;

              .right-arrow {
                display: none !important;
              }

              .down-arrow {
                display: inline-block !important;
              }
            }
          }

          .social-menu {
            top: 2.5rem;
            margin-right: 4rem;
            margin-left: auto;

            li:hover a {
              color: goldenrod !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  header.header-2 {
    nav {
      padding-right: 2rem !important;
    }

    br {
      display: none;
    }
    figure {
      padding-left: 1.5rem;
      width: 24rem !important;
    }
    .menus {
      width: 550px;
      left: 23rem !important;

      .main-menu {
        width: 550px;
      }
    }
  }
}
